.total-review{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    width: auto;
    gap: 25px;
    align-items: center;
}
.total-review img{
    height: 250px;
    width: 250px;
    border: none;
    border-radius: 50%;
    margin-left: 60px;
    margin-top: 25px;
}
.box{
    display: grid;
    align-items: center;
    height: 500px;
    width: auto;
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}