.home-page{
    display: grid;
    grid-template-columns: 4fr 2fr;
    align-items: center;
    margin: 20px;
}
.home-page img{
    height: 500px;
    width: 400px;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.three-reviews{
    height: 600px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px;
}