.home-page{
    display: grid;
    grid-template-columns: 4fr 2fr;
    align-items: center;
    margin: 20px;
}
.home-page img{
    height: 500px;
    width: auto;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.three-reviews{
    border: 1px solid rgba(0, 0, 0, 0.24);
    height: 500px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px;
    padding: 20px;
}
.three-reviews img{
    height: 250px;
    width: 250px;
    border: none;
    border-radius: 50%;
    margin-left: 85px;
    padding: 20px;
}
.three-reviews-card{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}