.nav-style{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-style p{
 margin: 15px;
 border: none;
 border-radius:3px;
 padding: 5px;
 
}
.nav-style p:hover{
    background-color: skyblue;
    color:white;
    border-radius: 40px;
    
}